<div class="text-center">
  <h2 class="text-primary">Satva Solutions</h2>
</div>
<div class="row">
  <div class="col-2">
    <a class="ancor" routerLink="/">Dashboard</a><br>
    <a class="ancor" routerLink="/formarray">Formarray Demo</a><br>
    <a class="ancor" routerLink="/tables">Table Demo</a><br>
    <a class="ancor" routerLink="/signals">Signals</a><br>
    <a class="ancor" routerLink="/tictac">Tic-tac</a>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>